.App {
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
}

#archivo {
  font-family: 'Inter', sans-serif;
  font-weight: 900;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.home-background {
  background-image: url('./images/Background.png'); 
}
body {
  background-color: black;
   background-repeat: no-repeat; 
   background-size: cover;
   background-position: center center;
    margin: 0;
    font-family:
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: roboto;
}
.red-font {
  color: red;
}


/* NAV */
.red-line {
  border-bottom: 1px solid red;
  border-width: 3px;

}
.navbar-line-container{
  display: flex;
  justify-content: flex-end;
}

/* HOME PAGE */

.home-header {
  font-weight: 500;
  padding: 40px;
}
.transparent-text {
  color: rgba(255, 255, 255, 0.75);
}


/* 
ABOUT US PAGE */

.about-header {
  padding-top: 30px;
}
.about-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.about-paragraph {
  text-align: center;
  width: 45%;
  padding-right: 50px;
  padding-top: 30px;
}

.about-images {
  text-align: center;
  padding-top: 30px;
}


/* CONTACT US PAGE */

.im-details {
  margin: 0;
  padding: 0;
  text-align: left;
}
/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); /* transparent background */
  color: white; /* white text */
  text-align: center;
  padding: 10px;
  font-size: small;
}


h1,h2,h3,h4,h5,h6 {
  margin-bottom: 10px;
  font-weight: 700
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px
}

p {
  margin-top: 0;
  margin-bottom: 10px
}